<div class="form_item_block">
    <label>SMTP Host:<span class="asterisk">*</span></label>
    <input type="text" ng-model="smtp_host" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[smtp_host].$error.server">{{ GOINPUTNAME[smtp_host].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>SMTP Port:<span class="asterisk">*</span></label>
    <input type="text" ng-model="smtp_port" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[smtp_port].$error.server">{{ GOINPUTNAME[smtp_port].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>TLS?:<span class="asterisk">*</span></label>
    <input type="radio" ng-model="is_tls" value="true"/> True
    <input type="radio" ng-model="is_tls" value="false"/> False
    <span class="form_error" ng-show="GOINPUTNAME[is_tls].$error.server">{{ GOINPUTNAME[is_tls].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Sender Email-id:<span class="asterisk">*</span></label>
    <input type="text" ng-model="sender_email_id" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[sender_email_id].$error.server">{{ GOINPUTNAME[sender_email_id].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>SMTP Username:<span class="asterisk">*</span></label>
    <input type="text" ng-model="smtp_username" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[smtp_username].$error.server">{{ GOINPUTNAME[smtp_username].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Sender Password:<span class="asterisk">*</span></label>
    <input type="password" ng-model="sender_password" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[sender_password].$error.server">{{ GOINPUTNAME[sender_password].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Receiver Email-id:<span class="asterisk">*</span></label>
    <input type="text" ng-model="receiver_email_id" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[receiver_email_id].$error.server">{{ GOINPUTNAME[receiver_email_id].$error.server }}</span>
</div>
<div class="form_item_block">
    <label>Pipeline/Stage/Status filter:<span class="asterisk">*</span></label>
    <input type="text" ng-model="pipeline_stage_filter" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[pipeline_stage_filter].$error.server">{{ GOINPUTNAME[pipeline_stage_filter].$error.server }}</span>
</div>